.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px;
}
.card-img{
    width: 350px;
    height: 300px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
 .headline{
    margin-left: 600px;
     margin-top:50px; 
     font-size:40px;
     font-family: fantasy;
     color: rgb(97, 230, 188);
 }
@media screen and (max-width: 500px) {
    .card{
        display: block;
        margin: 10px;
    }
    .headline{
        margin-left: 20px;
    }
    
}
