.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px;
}
.card-img{
    width: 350px;
    height: 300px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
 